<!-- Main Title and Images -->
<div class="wrapper row">
  <div class="left-main column">
    <div class="title-left">
      The <span class="title-left-color">#1 Trusted Site</span> for
      <span class="title-left-style">Authentic</span> Freelancer Reviews.
    </div>
    <div class="caption">Interested in quality work?</div>
    <div class="caption">
      Sumbit your own reviews and browse many more below!
    </div>
    <div class="button-container row gap-2">
      <button pButton label="Browse Reviews" severity="secondary"></button>
      <button pButton label="Write a Review" severity="primary"></button>
    </div>
  </div>

  <div class="right-main column">
    <img class="front-page-pictures" src="images/front-page-pictures.png" />
  </div>
</div>

<!-- Scroll down mouse -->

<div class="mouse row align-center gap-1">
  <img class="mouse-image" src="images/mouse-3.png" />
  <div class="caption">Scroll down to browse reviews &darr;</div>
</div>

<!-- Browse Reviews banner -->
<div class="browse-reviews column full-center">
  &darr; Browse Our Freelancer Reviews &darr;
</div>

<!-- Filter Component -->
<div clas="filter-wrapper">
  <app-filter></app-filter>
</div>
