.wrapper {
  padding: 0px 30px;
  height: auto;
}

.title-left {
  font-size: 80px;
  color: black;
  padding-bottom: 10px;
  font-weight: 900;
}

.title-left-color {
  color: var(--secondary-color);
}

.title-left-style {
  font-style: italic;
}

.caption {
  color: #878a8b;
  font-weight: 500;
}

.button-container {
  justify-content: flex-start;
  margin-top: 30px;
  button {
    width: 40%;
    font-weight: 500;
    font-size: 30px;
  }
}

.right-main {
  flex-grow: 1;
  .front-page-pictures {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mouse {
  margin-top: 40px;
  .mouse-image {
    width: 35px;
    object-fit: contain;
  }
}

.browse-reviews {
  margin-top: 20px;
  width: auto;
  background-color: var(--secondary-color);
  padding: 20px 0;
  box-shadow: var(--border-box-shadow);
  font-size: 30px;
  font-weight: 600;
  color: white
}

.filter {
  margin-top: 20px;
}

.Paginator {
  padding-top: 20px;
  margin-bottom: -5px; 
  
}

:host {
  ::ng-deep .custom-paginator {
    border-radius: 0px;
  }
}
