:root {
  --bg-color: rgb(252, 251, 243);
  --primary-color: rgb(30, 30, 30);
  --secondary-color: #FFD54F;
  --tertiary-color: RGB(176, 190, 197);
  --grey-color: #878a8b;
  --blue-grey-color: #78909c;
  --border-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}