:root {
  --bg-color: rgb(252, 251, 243);
  --primary-color: #6c757d;
  --secondary-color: #4CAF50;
  --tertiary-color: RGB(176, 190, 197);
  --grey-color: #607d8b;
  --border-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}