:root {
  --bg-color: rgb(252, 251, 243);
  --primary-color: #64748b;
  --secondary-color: #8B5CF6;
  --tertiary-color: RGB(176, 190, 197);
  --grey-color: #878a8b;
  --blue-grey-color: #78909c;
  --border-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}