<div class="review-box mt-25">
  <div class="user-container">
    <img class="user-icon-image" src="images/user-icon-4.png" />
    <a
      class="user-name-link"
      routerLink="/user/{{ review.user}}"
      routerLinkActive="active"
      >{{ userName }} </a
    >Reviewed
    <a
      class="freelancer-name-link"
      routerLink="/freelancer/{{ review.freelancer }}"
      routerLinkActive="active"
      >{{ freelancerName }}</a
    >
  </div>
  <div class="row space-between mr-15 ml-15">
    <p-rating [(ngModel)]="review.rating" readonly="true" [cancel]="false" />
    <div class="review-date">{{ formattedDate }}</div>
  </div>
  <div class="review-description">
    {{ review.review_text }}
  </div>
</div>
