<!-- Freelancer-Profile -->

<div class="freelancer-profile-container">
  
  <div class="freelancer-image-container">
    <div class="freelancer-name">{{ freelancer.freelancer_name }}</div>
    <img class="freelancer-image" src="images/user-icon-5.png" />
    <div class="overall-score">Rating: {{ score }}</div>
  </div>

  <div class="star-ratings-container">
    <div class="number-of-ratings row gap-05">
      <div class="star-bar-line">
        <div class="bar" [ngStyle]="{'width': starRatings.fiveStarPercentage + '%'}"></div>
        <div class="star-rank row"><p-rating [stars]="5" [(ngModel)]="ratingValues.five" readonly="true" [cancel]="false"/>({{stars.fiveStar}})</div>
      </div>
      <div class="star-bar-line">
        <div class="bar" [ngStyle]="{'width': starRatings.fourStarPercentage + '%'}"></div>
        <div class="star-rank row"><p-rating [stars]="5" [(ngModel)]="ratingValues.four" readonly="true" [cancel]="false"/>  ({{stars.fourStar}})</div>
      </div>
      <div class="star-bar-line">
        <div class="bar" [ngStyle]="{'width': starRatings.threeStarPercentage + '%'}"></div>
        <div class="star-rank row"><p-rating [stars]="5" [(ngModel)]="ratingValues.three" readonly="true" [cancel]="false"/> ({{stars.threeStar}})</div>
      </div>
      <div class="star-bar-line">
        <div class="bar" [ngStyle]="{'width': starRatings.twoStarPercentage + '%'}"></div>
        <div class="star-rank row"><p-rating [stars]="5" [(ngModel)]="ratingValues.two" readonly="true" [cancel]="false"/> ({{stars.twoStar}})</div>
      </div>
      <div class="star-bar-line">
        <div class="bar" [ngStyle]="{'width': starRatings.oneStarPercentage + '%'}"></div>
        <div class="star-rank row"><p-rating [stars]="5" [(ngModel)]="ratingValues.one" readonly="true" [cancel]="false"/> ({{stars.oneStar}})</div>
      </div>
    </div>
  </div>
</div>

<!-- All Related Freelancer Reviews -->
<div class="freelancer-reviews column">
  <app-review 
    *ngFor="let review of freelancerReviews"
    [review]="review"
  ></app-review>
</div>


<app-back-home-button></app-back-home-button>
