/* Freelancer Profile Container */
.freelancer-profile-container {
  background-color: #efefef;
  width: 100%; /* Reduced width */
  max-width: 600px; /* Set a max-width to keep it smaller */
  margin: auto; /* Center the container */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 5px solid var(--secondary-color);
  padding: 10px; /* Reduced padding */
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 10px; /* Add space between elements */
}

/* Freelancer Image Container */
.freelancer-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0; /* Reduced top and bottom margins */
}

.freelancer-name {
  font-size: 20px; /* Smaller font size */
  font-weight: bold;
  margin-bottom: 5px; /* Reduced margin */
  color: var(--secondary-color);
  text-align: center;
}

.freelancer-image {
  width: 100px; /* Smaller image */
  margin-bottom: 5px; /* Reduced margin */
}

.overall-score {
  font-size: 24px; /* Smaller font size */
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 5px; /* Reduced margin */
}


.star-ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.number-of-ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Adjust gap between star bars */
}

.star-bar-line {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Star bar and rating on the right */
  gap: 10px; /* Space between bar and rating */
  width: 100%;
}

.bar {
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 2px;
}

/* User reviews section */
.freelancer-reviews {
  width: 100%; /* Full width */
  max-width: 600px; /* Optional: set a max-width */
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Padding inside the container */
  display: flex;
  flex-direction: column;
}

/* Ensure each review is full width */
.freelancer-reviews app-review {
  width: 100%; /* Make each review take full width */
  padding: 10px; /* Add padding */
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow: hidden; /* Ensure content stays within the box */
}
